@model IEnumerable<ProektAleks.Data.ReservationHouse>

@{
    ViewData["Title"] = "Index";
}
<center> <h1 class="Heading">Резервирани къщи</h1> </center>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            
            <th>

			</th>
            @if (User.IsInRole("Admin"))
			{
				<th>UserName</th>

			}
            <th class="ResName">
                @* @Html.DisplayNameFor(model => model.Apartments.NameApartments) *@
                Име на къщата
            </th>

            <th class="ResName">
                @* @Html.DisplayNameFor(model => model.DateChoice) *@
                Дата на оглед
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>ReviewName</th>

            }

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.Houses.ImageUrl)" width="65" height="auto" /></a>
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
						@Html.DisplayFor(modelItem => item.Users.UserName)
                    </td>
                    
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Houses.NameProperty)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReview)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateChoice)
                </td>
                <td>
					@if (User.IsInRole("Admin"))
					{
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					}
                </td>
                

            </tr>
        }
    </tbody>
</table>

