@model ProektAleks.Data.Apartment

@{
    ViewData["Title"] = "Details";
}

<h1 class="ApartmentInfoDetailed">@Html.DisplayFor(model => model.NameApartments)</h1>

<div class="apartmentDetails">
    <div class="apartmentInformation">
        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" />
        </div>
        <div class="DetailedApartments">
            <dl>
                <dd class="DetailPrice">
                    Цена:@Html.DisplayFor(model => model.Price) лв
                </dd>
            </dl>
        </div>
        <div class="DetailedApartment">
            <dl>
                <dd class="DetailDescription">
                    Описание: 
                    <p>

                    </p>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
    <hr />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2" class="zaglavieTable">Информация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left-column">Вид на имота</td>
                <td class="right-column">@Html.DisplayFor(model => model.Categories.Name)
            </tr>
            <tr>
                <td class="left-column">Каталожен номер</td>
                <td class="right-column">@Html.DisplayFor(model => model.CatalogNumberId)</td>
            </tr>
            <tr>
                <td class="left-column">Име на апартамента</td>
                <td class="right-column">@Html.DisplayFor(model => model.NameApartments)</td>
            </tr>
            <tr>
                <td class="left-column">Етаж</td>
                <td class="right-column">@Html.DisplayFor(model => model.Floor)</td>
            </tr>
            <tr>
                <td class="left-column">Категория</td>
                <td class="right-column">@Html.DisplayFor(model => model.Categories.Name)</td>
            </tr>
            <tr>
                <td class="left-column">Квадратура</td>
                <td class="right-column">@Html.DisplayFor(model => model.Quadrature) м²</td>
            </tr>
            <tr>
                <td class="left-column">Гараж</td>
                <td class="right-column">@Html.DisplayFor(model => model.Garage)</td>
            </tr>
            <tr>
                <td class="left-column">Адрес на апартамента</td>
                <td class="right-column">@Html.DisplayFor(model => model.AddressProperty)</td>
            </tr>
           
            <tr>
                <td class="left-column">Дата на обявата</td>
                <td class="right-column">@Html.DisplayFor(model => model.DateRegister)</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
 
    }
    
       
    
</div>

