@model IEnumerable<ProektAleks.Data.Apartment>

@{
    ViewData["Title"] = "Index";
}
<center><h1 class="Heading">Апартаменти</h1></center>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
     <div class="apartments-container">
        @foreach (var item in Model) 
        {
            <div class="apartments">
                <a asp-action="Details" asp-route-id="@item.Id"><div class="apartmentImg"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" /></div></a>
                <div class="apartments-description">
                    <div>
                        <div>
                            <dl class="row" style="position: relative;">
                                <div class="description">
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(modelItem => item.NameApartments)
                                        <br />
                                        @Html.DisplayFor(modelItem => item.Quadrature)м²
                                        <br />
                                        @Html.DisplayFor(modelItem => item.AddressProperty)
                                    </dd>
                                    <dd class="ImportantItem">
                                        @Html.DisplayFor(modelItem => item.Price)лв
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
                
                    @if(User.IsInRole("Admin"))
                    {
                      <div class="btnDivAdmin">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                      </div>
                    }
                   <div class="buttons">
                     <a asp-controller="ReservationApartments" id="buyBtn"
                      asp-action="Create" asp-route-apartmentId="@item.Id">Резервирай</a>
                   </div>
            </div>
        }
     </div>
    

