@model IEnumerable<ProektAleks.Data.House>

@{
    ViewData["Title"] = "Index";
}

<h1>Къщи</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.CatalogNumberId)
            </th> *@
            <th>
                Име на къщата
            </th>
            <th>
                Етажи
            </th>
            <th>
                Категория
            </th>
            <th>
                Квадратура
            </th>
            <th>
                Дворно място
            </th>
            <th>
                Присторйка
            </th>
            <th>
                Гараж
            </th>
            <th>
                Адрес на къщата
            </th>
            <th>
                Описание
            </th>
            <th>
               Снимки
            </th>
            <th>
                Цена
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.DateRegister)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.CatalogNumberId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.NameProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Quadrature)м²
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YardSpace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Annex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ImageUrl) *@
                    <img src="@item.ImageUrl" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)лв
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.DateRegister)
            </td> *@
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                
                    <a asp-controller="ReservationHouses"
                       asp-action="Create" asp-route-houseId="@item.Id">Резервирай</a> 
            </td>
        </tr>
}
    </tbody>
</table>
